{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Invoice</h1>
    <div class="row">
        <div class="field">
            <label>From</label>
            <input type="text" placeholder="From...">
        </div>
        <div class="field">
            <label>To</label>
            <input type="text" placeholder="To...">
        </div>
    </div>

    <hr>

    <div class="field">
        <label>Customer Text String</label>
        <input type="text">
    </div>

    <hr>
</div>
{% endblock %}